@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i");

div.lead,
.nk-heading-font,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.display-big,
.display-extra-big,
.nk-navbar.nk-navbar-left .nk-nav .dropdown > li:last-of-type > a,
.nk-navbar.nk-navbar-left .nk-nav .dropdown > li > a,
.nk-navbar.nk-navbar-left .nk-nav > li:last-of-type > a,
.nk-navbar.nk-navbar-left .nk-nav > li > a,
.nk-navbar-side .nk-nav .dropdown > li:last-of-type > a,
.nk-navbar-side .nk-nav .dropdown > li > a,
.nk-navbar-side .nk-nav > li:last-of-type > a,
.nk-navbar-side .nk-nav > li > a,
.nk-navbar-full .nk-nav .dropdown > li:last-of-type > a,
.nk-navbar-full .nk-nav .dropdown > li > a,
.nk-navbar-full .nk-nav > li:last-of-type > a,
.nk-navbar-full .nk-nav > li > a,
.nk-counter .nk-count,
.nk-counter-2 .nk-count,
.nk-counter-3 .nk-count,
blockquote,
.nk-ibox-1-a .nk-ibox-title,
.nk-ibox-1-a .nk-ibox-text,
.nk-ibox-3-a .nk-ibox-title,
.nk-ibox-6 .nk-ibox-title,
.nk-pricing .nk-pricing-title,
.nk-pricing .nk-pricing-price,
.nk-carousel .nk-carousel-prev .nk-carousel-arrow-name,
.nk-carousel .nk-carousel-next .nk-carousel-arrow-name,
.nk-carousel-3 .nk-carousel-prev .nk-carousel-arrow-name,
.nk-carousel-3 .nk-carousel-next .nk-carousel-arrow-name,
.nk-team-block .nk-team-member .nk-team-member-name,
.nk-fullpage-number,
.nk-portfolio-launch-site,
.nk-btn-3 {
    font-family: Montserrat, sans-serif;
}

.nk-heading-font,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.display-big,
.display-extra-big {
    font-weight: 500;
    line-height: 1.3;
}
h2,
.h2 {
    font-size: 2rem;
}
h3,
.h3 {
    font-size: 1.6rem;
}
h6,
.h6 {
    font-size: 1rem;
}

.nk-widget .nk-widget-title {
    font-weight: 600;
}
